/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font);
    font-weight: 400;
    scroll-behavior: smooth;
    background-color: var(--black);
}

h1,
h2,
h3,
h6 {
    font-family: var(--font);
    font-weight: 400;
    color: var(--white-100);
    line-height: 1.1;
}

p,
span {
    color: var(--white-100);
    line-height: 1.6;
}

a {
    text-decoration: none;
}

/* CLASSES */

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 150px 0;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* END CLASSES */

/* HEADER */
.header {
    max-width: 1140px;
    margin: 0 auto;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo a {
    font-size: var(--h4);
    color: var(--white-100);
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 24px;
}

.nav-links a {
    text-decoration: none;
    color: var(--white-80);
}

.nav-links a:hover,
.social-links a i:hover {
    color: var(--white-100);
}

.social-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 12px;
}

.social-links a i {
    color: var(--white-80);
}

/* END HEADER */