/* VARIABLES */

/* CORES */
:root {
    --white-100: #fff;
    --white-80: rgba(255, 255, 255, .8);
    --white-60: rgba(255, 255, 255, .6);
}

/* FONTS FAMILY */
:root {
    --font: "Poppins", sans-serif;
}

/* FONT SIZE - Converter em REM dps */
:root {
    --display: 64px;
    --h1: 48px;
    --h2: 36px;
    --h3: 24px;
    --h4: 18px;
    --p: 14px;
}